<%= form_tag( { controller: :collaborators, action: :create }, method: :post, class: '' ) do %>
  <div class="input-group input-group-sm">
    <%= email_field '', :email, autocomplete: 'off', placeholder: 'Enter email address', class: 'form-control' %>
    <%= button_tag "Add", type: :submit, class: 'btn btn-outline-success' %>
  </div>
  <%= hidden_field '', :wiki_id, value: wiki.id %>
<% end %>
