<h1>Welcome to Bloccipedia</h1>

<section class="row">
  <div class="col-sm">
    <h2>Learn</h2>
    <p>Learning is great!</p>
  </div>
  <div class="col-sm">
    <h2>Contribute</h2>
    <p>Share your passion and knowledge!</p>
  </div>
  <div class="col-sm">
    <h2>Grow</h2>
    <p>Explore new ideas!</p>
  </div>
</section>