<h1>Wikis</h1>
<section class="wikis list-group">
  <% @wikis.each do |wiki| %>
    <article class="list-group-item">
      <%= link_to(wiki) do %>
        <h3><%= wiki.title %></h3>
      <% end %>
      <div class="fl-r">
        <span><%= wiki.user.email %></span>
        <i><%= time_ago_in_words wiki.created_at %></i>
      </div>
    </article>
  <% end %>
</section>