<h1>Wikis</h1>
<section class="wikis list-group">
  <% @wikis.each do |wiki| %>
    <article class="list-group-item">
      <div class="d-flex justify-content-between">
        <div>
          <h4><%= link_to wiki.title, wiki %></h4>
          <span><%= wiki.user.email %></span>
        </div>
        <div>
          <i><%= time_ago_in_words wiki.created_at %> ago</i>
        </div>
      </div>
      <% if wiki.private %>
        <span class="badge badge-primary badge-pill">Private</span>
      <% end %>
    </article>
  <% end %>
</section>