<div class="container">
<h1><%= @wiki.title %></h1>
<p>
  <h4><%= @wiki.user.email %></h4>
  <span><%= @wiki.created_at.to_formatted_s(:short) %></span>
</p>
<p><%= raw sanitize(simple_format(@wiki.body), :tags => %w(br p)) %></p>
</div>
