/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
@import "bootstrap";
@import "wikis";


.btn-outline-secondary {
  fill: rgb(108, 117, 125);
}

.btn-outline-secondary:active,
.btn-outline-secondary:hover,
.btn-outline-secondary[aria-expanded='true'] {
  fill: rgb(255,255,255);
}

.btn > svg.octicon {
  display: inline-block;
  vertical-align: text-bottom;
}

.loading {
  width: 100%;
  padding: 10%;
}

.loading > div {
  display: table;
  margin: auto;
}

.loading > div:after,
.loading > div:before {
  content: ' ';
  width: 50px;
  height: 50px; 
  border: 15px solid transparent;
  border-radius: 100%;
  position: absolute;
  transform: rotate(-45deg);
  opacity: 0.75;
  animation-name: Spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.loading > div:after {
  width: 50px;
  height: 50px; 
  border-bottom-color: $secondary;
  border-left-color: $secondary;
  animation-timing-function: linear;
  animation-direction: reverse;
  margin-top: 15px;
  margin-left: 15px;
}
.loading > div:before {
  width: 80px;
  height: 80px; 
  border-top-color: $primary;
  border-right-color: $primary;
  animation-timing-function: cubic-bezier(0.5, 1, 0.8, 0.6);
}


@keyframes Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
