// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.wiki-main {
  h2 {
    border-bottom: 1px solid gray;
  }
  h3 {
    border-bottom: 1px dashed gray;
  }
  pre {
    border-radius: 3px;
    border: 1px dashed gray;
    background-color: rgb(245,245,245);
    padding: 5px 10px;
  }
  
  table {
    margin-bottom: 10px;
    
    
    td, th {
      padding: 2px 5px;
    }
    thead > tr {
      border-bottom: 1px solid black;
      & > th:nth-child(n+2) {
        border-left: 1px solid black;
      }
    }
    tbody > tr {
      &:nth-last-child(n+2) {
        border-bottom: 1px solid darkgray;
      }
      & > td:nth-child(n+2) {
        border-left: 1px solid darkgray;
      }
      &:nth-last-child(2n+2) {
        background-color: rgb(240,240,240);
      }
    }
  }
  
  .wikis {
    // TODO: right-align wiki info on wiki index page.
  }
  
  .private {
    // TODO: position private badge on wiki index page.
  }
}